.contents {
    width: 1160px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.article-card {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f5f5f5;
    transition: transform 0.5s ease, box-shadow 0.3s ease,
        background-color 0.5s ease;
    color: #333;
    border-radius: 8px;
}

.article-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.article-card img {
    width: 200px;
    /* height: 200px; */
    /* object-fit: cover; */
    border-radius: 8px;
    margin-bottom: 12px;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

.article-card a {
    text-decoration: none;
}

.article-card p {
    text-align: center;
    font-size: 20px;
    /* font-weight: bold; */
    margin: 0;
    color: black;
}

html.dark .article-card {
    background-color: #1e1e1e;
    color: #eee;
}
