@import "tailwindcss";

/* ########## major premise ########## */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ########## major premise ########## */
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* 고정 폭 컨테이너 클래스 (필요시 사용) */
/* .container {
    width: 1160px;
    margin: 0 auto;
} */

/* ========== section_ .contents ========== */

