/* ########## major premise ########## */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ########## major premise ########## */

/* ========== << main >> ========== */
main {
    border: 3px solid crimson;
    height: 2000px;
}

/* ========== section_ .contents ========== */
.contents {
    width: 1160px;
    height: 800px;
    border: 3px solid saddlebrown;
    margin: auto;
}

/* ========== article_ .IT ========== */
.IT {
    border: 3px solid aqua;
}

footer {
    border: 3px solid dodgerblue;
    height: 100px;
}