.intro-section {
    width: 1160px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 12px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-image {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin-bottom: 16px;
    transition: opacity 0.5s ease;
}

.intro-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.intro-description {
    margin-top: 8px;
    line-height: 1.625;
    text-align: center;
}
